/* selects everything on the page using * Set for there to be no margin or padding*/
* {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: auto;
	margin: auto;
}

header {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url("images/idaho.png");
	height: 200vh;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.container,
.projects {
	color: #fff;
	text-decoration: none;
	font-family: courier;
	font-size: 24px;
	margin-bottom: 100px;
}

.nav {
	float: right;
	list-style: none;
	margin-top: 5px;
}

.nav li {
	display: inline-block;
}

.nav li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: courier;
	font-size: 18px;
}

.nav li a:hover {
	background: #fff;
	color: #bbb;
}

.navbar-left img {
	width: 150px;
	padding: 5px;
	float: left;
	border-radius: 50%;
}

.welcome {
	position: relative;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;
}

.welcome h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
	font-family: courier;
}

.welcome p,
.fieldinfo {
	text-align: center;
	color: #fff;
	font-size: 24px;
	font-style: italic;
	font-family: courier;
	margin-bottom: 100px;
}

.welcome a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
	font-family: courier;
}

.welcome a:hover {
	background: #fff;
	color: #bbb;
}

.form {
	margin: 30px;
	width: 900px;
	height: 550px;
	position: relative;
	display: flex;
	justify-content: flex-end;
}

.me {
	text-align: justify-all;
	color: #fff;
	text-transform: uppercase;
	font-size: 32px;
	font-family: courier;
}

.submit {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: flex;
	color: #000000;
	font-family: courier;
}

.submit button:hover {
	background: #fff;
	color: #bbb;
}

.footer {
	padding: 10px 20px;
	background: #000;
	color: white;
}
